<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <title>Chart</title>
</head>
<body>
<div th:replace="/fragments/header :: header"></div>
<div style="text-align: center">
    <img class="chart-img" src="../static/img/cartoon-body-mass-index-infographics-concept-card-vector-25206313.jpg" alt="Graphic">
</div>
<div class="footer">
    <span id="footer-span">LichtDahl Co. <br> kontakt@lichtdahl.dk +4599999999 </span>
</div>
</body>
</html>