<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <title>BMI Calculator</title>
</head>
<body>
<div class="container">
    <div th:replace="/fragments/header :: header"></div>
    <div class="div-left">
        <h2 id="h2-bold-left">PEOPLE TALKING SHIT ABOUT YOUR FAT ASS?</h2>
        <h2>Sick of people saying mean stuff like:</h2>
        <h2 id=>"You're so fat when you went to school you sat next to everybody!"</h2>
    </div>
    <div class="div-right">
        <h2 id="h2-bold-right">DO SOMETHING ABOUT IT!</h2>
        <h2>Check your BMI here! See for yourself, if them haters are true!</h2>
        <h2>There is a bunch of content on this site! Check it, it may help you!</h2>
    </div>
</div>
<div class="footer">
    <span id="footer-span">LichtDahl Co. <br> kontakt@lichtdahl.dk +4599999999 </span>
</div>
</body>
</html>