<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <title>Jokes</title>
</head>
<body>
<div th:replace="/fragments/header :: header"></div>
<div class="div-left-jokes">
    <h2 id="h2-bold-left-jokes">JOKES ABOUT FAT PEOPLE!</h2>
    <p>1) I wouldn't say you're fat but when you sit around the house, you actually sit around the house!</p>
    <p>2) If hot air makes a balloon go up what's keeping you down?</p>
    <p>3) You could be in the movies! You could play crowd scenes all by yourself.</p>

</div>
<div class="div-right-jokes">
    <h2 id="h2-bold-right-jokes">JOKES ABOUT SKINNY PEOPLE!</h2>
    <p>1) You're so skinny that you use Chapstick as deodorant...</p>
    <p>2) You're so skinny, i bet you can dodge raindrops!</p>
    <p>3) You're so skinny, when you wore yellow the other day, i thought you were a pencil!</p>
</div>
<div class="footer">
    <span id="footer-span">LichtDahl Co. <br> kontakt@lichtdahl.dk +4599999999 </span>
</div>
</body>
</html>